h3.question {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  text-align: center;
  font-weight: 100;
  font-style: oblique;
}

.editor-container {
  width: 900px;
  height: 540px;
  margin: 20px auto;
  position: relative;
  background-color: #dcdcdc7f;
  border-radius: 5px;
  box-shadow: 5px 10px 8px #c3c0c0;
}

#editor {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  font-size: 20px;
  backdrop-filter: blur(10px);
  border-radius: 5px;
  box-shadow: 5px 10px 8px #c3c0c0;
}

.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0%;
}

/* .cpy-btn {
  display: flex;
  position: relative;
  left: 853px;
  border-color: transparent;
  background-color: #dcdcdc7f;
  border-radius: 5px;
}

.copy-bar {
  width: 900px;
  height: 540px;
  margin: 20px auto;
  position: relative;
  color: black;
} */
